<form name="$ctrl.form" novalidate>
    <label>
      Name:
      <input name="name" type="text" ng-model="$ctrl.name" required must-contain-space>
      <span ng-if="$ctrl.form.name.$error.containsSpace">Name must contain a space</span>
    </label>
    <label>
      E-mail:
      <input type="email" ng-model="$ctrl.email" required>
    </label>
    <label>
      Hours worked:
      <input type="number" ng-model="$ctrl.hours" required>
    </label>
    <label>
      Wage:
      <input type="number" ng-model="$ctrl.wage" required>
    </label>
    <button ng-disabled="$ctrl.form.$invalid" ng-click="$ctrl.addEmp()">Add Person</button>
</form>
